.yellow{
  background-color:yellow;
  width:200px;
  height:200px;
  float:left;
}
.green{
  background-color:green;
  width:150px;
  height:100px;
  float:left;
}
.pink{
  background-color:pink;
  width:500px;
  height:80px;
  clear:left;
  /* clear回り込み（浮いた状態）にならないようにする */
}
